# Dependencies
node_modules/

# Next.js
.next/
out/

# Env files
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
*.tsbuildinfo

# Editor config
.vscode/

# OS files
.DS_Store
Thumbs.db
